@charset "UTF-8";

.footer {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  & .logo {
    display: flex;
    width: 81px;
    height: 17px;
    background: url(../../public/images/footer_logo.svg) no-repeat center;
  }
  & div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 40px;
    & ul {
      display: flex;
      gap: 20px;
      & li a {
        display: flex;
        font-size: var(--xs-size);
        &:hover {
          color: var(--main-color);
        }
      }
    }
    & p {
      font-size: var(--s-size);
      color: #999;
    }
  }
}
@media (max-width: 1500px) {
  /* 1500픽셀 이하일 때 적용될 CSS 스타일 */
  .footer {
    & div:nth-child(2) {
      align-items: flex-start;
      gap: 0 40px;
      flex-direction: column;
    }
  }
}