
.printComponent {
    display: block;
    background-color: #fff;
    width: 300px;
    position: absolute;
    top: -9999em;
    /*top: 50px;*/
    left: 0;
    box-sizing: border-box;
    & .inner {
        & > h4 {
            display: flex;
            justify-content: center;
            gap: 4px;
            & span {
                font-size: 18px;
            }
        }
        & > .header {
            border-bottom: 1px solid #333;
            padding-bottom: 5px;
            & li:nth-child(1) {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                font-size: var(--l-size);
                color: #333;
                & strong {
                    max-width: 200px;
                    text-align: right;
                    margin-right: 5px;
                    font-weight: 600;
                }
            }
            & li:nth-child(2) {
                display: flex;
                justify-content: space-between;
                font-size: var(--s-size);
                & span:nth-child(1) {
                    font-weight: 500;
                }
            }
        }
        & > .titleArea {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 5px;
            border-bottom: 1px solid #333;
            padding-bottom: 10px;
            & .qrCodeArea {
                display: flex;
                justify-content: center;
                max-height: 120px;
                & img {
                    height: 100%;
                    max-width: 100%;
                }
                &.left {justify-content: flex-start;}
                &.center {justify-content: center;}
                &.right {justify-content: flex-end;}
            }
            & .logoArea {
                display: flex;
                justify-content: center;
                font-size: var(--xl-size);
                font-weight: 500;
            }
            & .topMessageArea {
                white-space: pre-wrap;
                line-height: 16px;
                font-size: var(--xs-size);
            }
        }
        & .tblArea {
            & table {
                width: 100%;
                & thead {
                    display: table-row-group;
                }
                & th {
                    padding: 5px 0;
                    border-bottom: 1px solid #333;
                    font-size: var(--s-size);
                    font-weight: 500;
                    color: #333;
                }
                & td {
                    vertical-align: middle;
                    padding: 0 2px;
                    font-size: var(--s-size);
                    color: #333;
                }
                & tr:last-child td {
                    border-bottom: 1px solid #333;
                }
                & tfoot {
                    & tr {
                        border-bottom: 1px dashed #333;
                        & td {
                            font-weight: 500;
                        }
                    }
                }
                & .tfoot {
                    & th {
                        border-top: 1px dashed #333;
                        font-weight: 500;
                        & span {
                            font-weight: 500;
                        }
                    }
                    & td {
                        border-top: 1px dashed #333;
                        border-bottom: 1px solid #333;
                    }
                }
            }
        }
        & > .etcArea {
            display: flex;
            flex-direction: column;
            padding: 5px 20px;
            border-bottom: 1px solid #333;
            margin-bottom: 10px;
            & dl {
                display: flex;
                gap: 20px;
                flex-direction: row;
                flex-wrap: wrap;
                box-sizing: border-box;
                justify-content: center;
                padding: 0;
                background: none;
                margin-top: 0;
                & dt {
                    width: 50px;
                    display: flex;
                    justify-content: space-between;
                    font-size: var(--s-size);
                    & span {
                        font-weight: 500;
                    }
                }
                & dd {
                    width: 100px;
                    font-size: var(--s-size);
                    text-align: right;
                    font-weight: 500;
                }
            }
        }
        & .compInfoDiv {
            & > li {
                &.etc {
                    & + li {
                        margin-top: 0;
                    }
                    & > span {
                        font-size: var(--s-size);
                    }
                }
                & + li {
                    margin-top: 10px;
                }
                & > strong {
                    font-size: var(--s-size);
                    font-weight: 600;
                }
                & ul {
                    & li {
                        display: flex;
                        gap: 10px;
                        & strong {
                            font-size: var(--s-size);
                            font-weight: 300;
                        }
                        & span {
                            font-size: var(--s-size);
                        }
                    }
                }
                &.sampleColorSizeInfo {
                    & ul {
                        & li {
                            display: flex;
                            flex-direction: column;
                            gap: 0;
                            & + li {
                                margin-top: 5px;
                            }
                        }
                    }
                }
                &:last-child {
                    border-bottom: 1px solid #333;
                    margin: 0 0 10px;
                    padding: 0 0 10px;
                }
            }
        }
        & > .footer {
            display: flex;
            flex-direction: column;
            white-space: pre-wrap;
            padding-top: 10px;
            font-size: var(--s-size);
            line-height: 17px;
            &::after {
                content: ".";
                display: flex;
                align-items: flex-end;
                width: 10px;
                height: 30px;
            }
        }
    }
}
@media print {
    body, html {
        color: #000;
        margin: 0 !important;
        padding: 0 !important;
    }

    @page {
        size: 80mm 297mm !important;
        margin: 0 !important;
        margin-top: -30px !important;
        padding: 0 !important;
    }
    .printData {
        display: none;
    }
    .printComponent {
        position: inherit !important;
        top: inherit !important;
        left: inherit !important;
        margin: 0 0 0 -30px !important;
        page-break-after: always !important;
        padding: 0 !important;
        width: calc(300px - 55px);
        & + .printComponent {
            margin-top: 30px !important;
        }
        & > .etcArea {
            & dl {
                & dt {
                    width: 50px !important
                }
                & dd {
                    width: calc(100% - 50px) !important;
                    text-align: right !important;
                }
            }
        }
    }
}
/* 부가세 */
.vatList {
       border-bottom: 1px solid #333 !important;
       & ul {
           display: flex;
           flex-direction: column;
           padding: 10px;
           gap: 3px;
           & li {
               display: flex;
               justify-content: center;
               & strong {
                   width: 80px;
                   font-weight: 500;
               }
               & span {
                   width: 140px;
                   text-align: right;
               }
           }
           & li.lastLi + li {
               margin-top: 15px;
           }
       }
       & .etcArea {
           display: flex;
           padding: 10px 22px;
           border-top: 1px dashed #333;
       }
   }